@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /* サイト全体の基本フォントを指定 */
    font-family: 'M PLUS Rounded 1c', sans-serif;
    overflow:hidden;
    touch-action: none;
  }
}

/* 
  JavaScriptからのUI表示制御用スタイル
  Tailwind CSSのクラスで上書きされるため、!importantは不要です。
*/
#game-area { display: none; } /* 最初は非表示 */
#game-controls { display: none; } /* 最初は非表示 */

/* canvasの基本スタイル */
#puzzle-canvas {
  cursor: pointer;
  /* 画面幅の90%か、600pxの小さい方を採用 */
  width: 90vw;
  max-width: 600px;
  aspect-ratio: 1 / 1;
  display: block; /*　正方形に保つ　*/
}
